#content-sidebar-shade{
    /* background-color: blue; */
    /* width: 13.6%; */
    min-width: 300px;
    height: 100%;
    transition: 0.25s;

}
/* ===== Sidebar ===== */
.sidebar{


    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;     

    /* background: red; */

}


.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.sidebar header .image,
.sidebar .icon {
    flex-direction: column;
    min-width: 60px;
    border-radius: 6px;
    font-size: 11px;
    text-align: center;
    padding-right: 5px;
}



.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar{
    color: var(--text-color);
    transition: var(--tran-03);
    /* background-color: rgba(255,255 ,255 , 0.9); */
}
.icon{
    color: black;
    transform: scale(.5);
    
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
   
}

.sidebar header .logo-text span{
/* 
    background: -webkit-linear-gradient(200deg,black,black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
     */
     color: black;

}

body.dark .sidebar header .logo-text span{

    color: white;

}


header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 12px;
    margin-top: -2px;
    display: block;
  
}


.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    /* border-radius: 6px; */
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
    background: white;
    color: black;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
hr{
    margin: 10px;
}

.sidebar .menu{
    /* margin-top: -50px; */
    height: 100%;
}

.sidebar
{
    box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.03);
}

.sidebar li:active{
    transform: translateY(0);
    opacity: .7;

    transition: .05s;
}

.sidebar li{
    transition: .5s;
}


.sidebar li.search-box{
    border-radius: 6px ;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    /* overflow-x: none !important; */
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}




.menu-parent{
    display: flex;
    flex-direction: column;
}










.custom-menu-section {
    /* border-bottom: 1px solid #ccc; */
  }

  .custom-menu-title {
    display: flex;
    align-items: center;
    padding: 10px;
    /* background: #f5f5f5; */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  .menu_item_openable {
    /* background: #e0e0e0; */
    transition: 0.25s;
    border-radius: 10px;

  }


  .menu_item_openable{
    /* margin-top: 6px;
    margin-bottom: 10px; */
  }

  .menu_item_openable .icon_menu{
    /* background-color: red; */
    padding-left: 11px;
    /* padding-right: 8px; */

  }

  .text_menu_option{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    /* background-color: var(--primary-color-light); */
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);



    white-space: nowrap;       /* Evita que el texto se divida en varias líneas */
    overflow: hidden;          /* Oculta el texto que no cabe en el contenedor */
    text-overflow: ellipsis;   /* Muestra los "..." cuando el texto es truncado */
    width: 200px;   

  }

  .custom-submenu {
    display: none;
  }

  .custom-submenu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    /* border-bottom: 1px solid #ddd; */
  }


 

  .custom-button {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 10px; */
    /* background: #f5f5f5; */
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
    max-height: 50px;
    min-height: 50px;

    /* max-width: 50px; */
  }




  .custom-menu {
    border-radius: 0 0 6px 6px;
    /* background-color: #f9f9f956;   */
  }
  

  .custom-menu-section{
    /* background-color: red; */
    /* border-left: 2px solid rgba(0, 0, 0, .2); */
  }

  /* Colores por niveles */

    .section-level-1 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, .2); margin-left: 25px;}
    .section-level-2 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, .4);  margin-left: 25px;} 
    .section-level-3 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, .6);   margin-left: 25px;}
    .section-level-4 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, .8);   margin-left: 25px;}

    body.dark .section-level-1 { transition: 0.25s; border-left: 2px solid rgba(255,255,255, 0.2); margin-left: 25px;}
    body.dark .section-level-2 { transition: 0.25s; border-left: 2px solid rgba(255,255,255, .4);  margin-left: 25px;} 
    body.dark .section-level-3 { transition: 0.25s; border-left: 2px solid rgba(255,255,255, .6);   margin-left: 25px;}
    body.dark .section-level-4 { transition: 0.25s; border-left: 2px solid rgba(255,255,255, .8);   margin-left: 25px;}



  /* body.dark .level-1 { margin-left: 5px;  }
  body.dark  .level-2 { margin-left: 15px; } 
  body.dark .level-3 { margin-left: 25px;}
  body.dark  .level-4 { margin-left: 35px; } */


  /* .sidebar.close .section-level-1 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, 0.2); margin-left: 0px;} */
  /* .sidebar.close .section-level-2 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, .2);  margin-left: 0px;} 
  .sidebar.close .section-level-3 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, .2);   margin-left: 0px;}
  .sidebar.close .section-level-4 { transition: 0.25s; border-left: 2px solid rgba(0, 0, 0, .2);   margin-left: 0px;} */
    .sidebar.close .section-level-1{
        margin-left: 0;
        border-left: 0px solid rgba(0, 0, 0, 0);

    }
    .sidebar.close .section-level-2{
      margin-left: 0;
      border-left: 0px solid rgba(0, 0, 0, 0);

      
    }
    .sidebar.close .section-level-3{
      margin-left: 0;
      border-left: 0px solid rgba(0, 0, 0, 0);
      
    }
    .sidebar.close .section-level-4{
        margin-left: 0;
        border-left: 0px solid rgba(0, 0, 0, 0);

        
    }

 
  .sidebar.close .level-1 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(0, 0, 0, .2);}
  .sidebar.close .level-2 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(0, 0, 0, .4);}
  .sidebar.close .level-3 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(0, 0, 0, .6);}
  .sidebar.close .level-4 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(0, 0, 0, .8);}
  
  body.dark .sidebar.close .level-1 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(255,255,255, .2);}
  body.dark .sidebar.close .level-2 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(255,255,255, .4);}
  body.dark .sidebar.close .level-3 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(255,255,255, .6);}
  body.dark .sidebar.close .level-4 { transition: 0.25s; margin-left: 0;  border-left: 2px solid rgba(255,255,255, .8);}

  .sidebar .icon_menu{
    /* color: red; */
    font-size: 28px;
    margin: 5px;
  }

  .sidebar .custom-menu-section  .text_menu_option{
    opacity: 1;
    transition: 0.4s;
  }

    .sidebar.close .custom-menu-section  .text_menu_option{
        opacity: 0;
        transition: 0.4s;
    }
/* 
.sidebar.close .custom-menu-section  .icon_menu{

    
} */


.sidebar .custom-menu-section  .icon_menu{
    /* width: 30px; */
    font-size: 28px !important;
    min-width: 36px;
    max-width: 36px;
    margin: 0;
}


  
.custom-menu-section{
    /* background-color: red; */
    margin-top: 10px;
    margin-bottom: 10px;
}



.menu_item_openable:hover {
    background: rgba(0, 0, 0, 0.185);
    z-index: 10000;
    transition: 0.25s;
    border-radius: 10px;
    /* transform: translateX(6px); */

  }

  .menu_item_openable:hover ~ .menu_item_openable {
  
    /* background: red; */
}