/* Hello word desde css */
    
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #E3E5EB;
    font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor {
	width: 90%;
	max-width: 900px;
}

.contenedor-lista {
	background: #F3F5FA;
	box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
	border-radius: 10px;
}

.contenedor-lista h1 {
	text-transform: uppercase;
	font-size: 20px;
	background: #fff;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 40px;
	border-radius: 10px 10px 0 0;
	margin-bottom: 0;
}

.lista {
	padding: 40px;
	width: 100%;
}

.lista .persona {
	background: #fff;
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	
}



/* ? Clases para los estilos en los diferentes estados del drag and drop */

/* ? ------- */



.lista .label {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;
	color: #5173CF;
}

.lista .dato {
	font-weight: bold;
	font-size: 20px;
}

.lista .persona img {
	width: 70px;
	border-radius: 100%;
	margin-right: 40px;
}



















img {

    width: 500px;
    /* height: 100px; */

}

.content{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.home{
    /* background: red; */
    /* width:80%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    

}

h1{
    /* margin-top: 15px; */
    background: -webkit-linear-gradient(250deg,purple,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

p{
    background: -webkit-linear-gradient(250deg,purple,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}














































/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

hr{
    background-color: #707070;
    opacity: .1;
}


.scroll-box::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-box::-webkit-scrollbar:vertical {
    width:10px;
}

.scroll-box::-webkit-scrollbar-button:increment,.scroll-box::-webkit-scrollbar-button {
    display: none;
} 

.scroll-box::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    border: 2px solid transparent;
}

.scroll-box::-webkit-scrollbar-track {
    border-radius: 10px;  
}


body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}




.swal2-container .swal2-popup{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(15px);
    color: black;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .05) ,0px 10px 10px rgba(0, 0, 0, .025) ,0px 10px 10px rgba(0, 0, 0, .015);
    border-radius: 0px !important;
    border-top: solid black !important;
    border-bottom: solid black !important;
    /* animation-name: intipop ;
    animation-duration: 2s!important; */

}


.swal2-icon.swal2-success {
    border-color: black;
    color: black;
}

.swal2-icon {
    border-color: black !important;
    color: black !important;;
}


.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,0) !important;
}


.btn-success{
    background-color: white;
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: lighter;
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    transition: .25s;
}

.btn-success:hover {
    filter: brightness(1.2);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .25);
    transition: .25s;
} 

.btn-success:active {
    /* filter: brightness(-.8); */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    transition: .25s;
    transform: scale(.98);
} 


.btn-danger{
    background-color: black;
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px;
    font-weight: lighter;
    color: white;
}


.btn-danger:hover {
    filter: brightness(1.2);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .25);
    transition: .25s;
} 

.btn-danger:active {
    /* filter: brightness(-.8); */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    transition: .25s;
    transform: scale(.98);
} 





.mesaje{
    display: flex;
    background: #00a65a;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    transition: .5s;
    color: white;
    
    /* margin: ; */
}

.mesaje:hover{
    display: flex;
    background: white;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    transition: .5s;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
    /* transform: translateY(-10px); */
    color: black;
    
    /* margin: ; */
}

.mesaje .icon-info{
    transform: scale(2);
    margin-top: 2.5px;
    
    
}

.mesaje p {
    padding-left: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .1);

}






#download{
    background: #3c8dbc;    
    text-decoration: none;
    /* margin: 10px; */
    font-weight: bold;
    color: white;
    padding: 8px;
    padding-right: 10px;
    border-radius: 8px;

    /* box-shadow: 2px 2px 1px rgba(0, 0, 0, .3); */
    transition: .5s;
}

#download:hover{
   filter: brightness(1.2);
   /* box-shadow: 3px 3px 5px rgba(0, 0, 0, .3); */
   transition: .5s;

}

#download:active{
   filter: brightness(1);
   /* box-shadow: 2px 2px 1px rgba(0, 0, 0, .3); */
   transition: .5s;
}



#download ion-icon{
    transform: scale(1.5) translateX(5px);
    padding-right: 10px;
}


.home{

    display: flex;
    padding: 30px ;
    flex-direction:hd;
    align-items: flex-start;
    justify-content: right;
    width: 80%;
    transition: .5;
    flex-direction: column;

}


#form_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





























































/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

hr{
    background-color: #707070;
    opacity: .1;
}

:root{
    /* ===== Colors ===== */
    --body-color: white;
    --sidebar-color: #FFF;
    --primary-color: black;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: black;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: black;
}

/* ===== Sidebar ===== */
 .sidebar{


    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;     

    /* background: red; */

}


.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.sidebar header .image,
.sidebar .icon {
    flex-direction: column;
    min-width: 60px;
    border-radius: 6px;
    font-size: 11px;
    text-align: center;
    padding-right: 5px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar{
    color: var(--text-color);
    transition: var(--tran-03);
    /* background-color: rgba(255,255 ,255 , 0.9); */
}
.icon{
    color: black;
    transform: scale(.5);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
   
}

.sidebar header .logo-text span{

    background: -webkit-linear-gradient(200deg,black,black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    

}


.user-image{
    
 
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); */
    /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); */
}



header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 12px;
    margin-top: -2px;
    display: block;
  
}


.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    /* border-radius: 6px; */
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
    background: white;
    color: black;
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1);
}

body.dark .sidebar header .toggle{
    /* color: res */
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
hr{
    margin: 10px;
}

.sidebar .menu{
    /* margin-top: -50px; */
    height: 100%;
}

.sidebar
{
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.03);
}

.sidebar li:active{
    transform: scale(0.96) rotateZ(1deg);

    transition: .3s;
}

.sidebar li{
    transition: .3s;
}


.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}













/* .drag{
    opacity: 0;
} */

#drag{
    cursor: move!important;
}
































.d-none{
    display: none;
}