body {
    font-size: 105%; /* Aumentar todo un 5% */
  }
  
  .blue-gradient {
    background: linear-gradient(to left, var(--color-blue-800), var(--color-blue-600));
  }
  
  .blue-button {
    background-color: var(--color-blue-600);
  }
  
  .blue-button:hover {
    background-color: var(--color-blue-700);
  }
  
  .grid-pattern {
    position: absolute;
    inset: 0;
    opacity: 0.25;
    background-image: linear-gradient(to right, var(--color-white-50) 1px, transparent 1px), 
                      linear-gradient(to bottom, var(--color-white-50) 1px, transparent 1px);
    background-size: 52px 52px; /* Ajusta el tamaño de los cuadros aquí */
  }



  .input-field {
    background-color: var(--color-gray-100);
  }
  
  .copyright {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 14px;
    opacity: 0.7;
  }

  .main-container{
    transform: scale(1.15 );
  }


